.outer-searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
}

.inner-searchBar {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: black;
}

.inner-searchBar input,
.inner-searchBar select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid grey;
    border-radius: 4px;
}

.inner-searchBar select {
    flex: 1;
}

.outer-recipe-card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.recipes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.recipe-card {
    width: 200px;
    margin: 10px;
    border-radius: 5px;
    padding-bottom: 10px;
}

.recipe-card img {
    width: 100%;
    height: auto;
}

.card-body{
    padding: 10px;
    text-align: center;
}

