.outer-searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 3px solid grey;
    box-shadow: 0 0 10px white;
    margin: 20px;
    border-radius: 25px;
    gap: 30px 0;
    text-align: center;
}

.inner-searchBar {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.inner-searchBar input {
    width: 500px;
    padding: 10px;
    font-size: 16px;
}

.inner-searchBar input,
.inner-searchBar select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid grey;
    border-radius: 4px;
}

.inner-searchBar label{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.inner-searchBar button {
    margin-bottom: 10px;
    margin-left: 30px;
    color: white;
    background-color: grey;
}

.outer-recipe-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.recipe-card {
    width: 200px;
    margin: 10px;
    border-radius: 5px;
    padding-bottom: 10px;
}

.recipe-card img {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 10px;
    text-align: center;
}

