.main-navigation {
    width: 100%;
    padding: 0;
}


.main-navigation a,
.main-navigation a:visited {
    color: grey;
    font-weight: 600;
}

.main-navigation a:hover {
    color: dimgrey;
}

.inner-nav-container {
    flex-shrink: 1;
    flex-grow: 0;
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.main-navigation-links {
    list-style: none;
    flex-basis: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.push{
    color: grey;
    margin-right: auto;
}

button{
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    background-color: #3498db;
    color: #fff;
}