.main-navigation {
    width: 100%;
    padding: 0;
}


.main-navigation a,
.main-navigation a:visited {
    color: grey;
    font-weight: 600;
}

.main-navigation a:hover {
    color: dimgrey;
}

.inner-nav-container {
    /*flex-basis: 1400px;*/
    flex-shrink: 1;
    flex-grow: 0;
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.main-navigation-links {
    list-style: none;
    flex-basis: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.push{
    color: grey;
    margin-right: auto;
}